<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <section name="rewriter" requirePermission="false" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter"/>
    <section name="botDetect" requirePermission="false" type="BotDetect.Configuration.BotDetectConfigurationSection, BotDetect"/>
  </configSections>
  <appSettings>
    <!--Tinh theo byte 1Mb = 1024 Byte-->
    <add key="SMTP_CONFIG_FILE_PRODUCTION" value="~/App_Data/smtp/smtp.production.csv"/>
    <add key="SMTP_CONFIG_FILE_LOCALHOST" value="~/App_Data/smtp/smtp.localhost.csv"/>
    <!--<add key="SMTP_CONFIG_FILE_INFO" value="~/App_Data/smtp/smtp.Chudu24Info.csv" />-->
    <add key="SMTP_CONFIG_FILE_INFO" value="~/App_Data/smtp/smtp.VbnInfo.csv"/>
    <add key="emailFrom" value="sales@mysuong.com.vn"/>
    <add key="emailTo" value="tung.pnq@gmail.com"/>
    <add key="filemax" value="5120"/>
    <add key="FCKeditor:UserFilesPath" value="/userfiles/images/"/>
    <add key="TopHome" value="6"/>
    <add key="MaxItemInCart" value="100"/>
    <add key="TopVideo" value="6"/>
    <add key="pagging" value="15"/>
    <add key="uploadDoc" value="/userfiles/upload/"/>
    <add key="UrlRewrite" value="true"/>
    <add key="loginDomain" value="false"/>
    <!--Xoa cookie cua gio hang khi thoat trinh duyet-->
    <add key="ClearCookieCart" value="true"/>
    <add key="EmailActiveAccount" value="sales@mysuong.com.vn"/>
    <add key="SmtpServer" value="mail.mysuong.com.vn"/>
    <add key="UserName" value="sales@mysuong.com.vn"/>
    <add key="Password" value="bakery*#"/>
    <add key="Port" value="25"/>
    <add key="Ssl" value="false"/>
    <!--Google Maps-->
    <!--<add key="GoogleMapsAPIKey" value="ABQIAAAAKirPMMiQ8HRN39mCkICcXhRGoGQYzbSA9cOH_ahYb3wQFOUDRhRVvwWTMksDo63XSSZHjCS86KHA1g"/>-->
    <add key="GoogleMapsAPIKey" value="ABQIAAAAKirPMMiQ8HRN39mCkICcXhTEIm1ej19pcFIp-vktuZ8eXs-7BBSZ_K1cbkpQlrTXXZFcSr904jL9pg"/>
    <add key="merchant_site_code" value="17548"/>
    <add key="secure_pass" value="shop#vbn@2009!@#"/>
    <add key="receiver" value="hungphan@ymail.com"/>
    <!--khai bao payoo-->
    <add key="PayooCheckoutSandbox" value="https://sandbox.payoo.com.vn/m/payorder"/>
    <add key="PayooCheckoutLive" value="https://payoo.com.vn/m/payorder"/>
    <add key="PayooBusinessAPISandbox" value="https://bizsandbox.payoo.com.vn/BusinessAPI.asmx?WSDL"/>
    <add key="PayooBusinessAPILive" value=""/>
    <add key="BusinessUsername" value="PayooBusiness5"/>
    <add key="ShopID" value="264"/>
    <add key="ShopTitle" value="VBN"/>
    <add key="ShopBackUrl" value="~/Modules/Products/ThankYou.aspx"/>
    <add key="ShopDomain" value="http://www.vbn.vn/"/>
    <add key="ShippingDays" value="2"/>
    <add key="NotifyUrl" value="http://www.business.com.vn/NotifyListener.aspx"/>
    <add key="APIUsername" value="PayooBusiness5_BizAPI"/>
    <add key="APIPassword" value="Pll4e0t+ta0Zpg3+"/>
    <add key="APISignature" value="75styxqhoZo4u0vx5zNfhIbJMLps/izBFhqboREHLPzz+PCHiWEES45roPIKCuhu"/>
  </appSettings>
  <connectionStrings>
    <add name="VbnShopCakeConnectString" connectionString="server=KENNYKV\SQLEXPRESS;database=MySuongShop;uid=sa;pwd=admin"/>
    <add name="VbnServicesConnectString" connectionString="server=KENNYKV\SQLEXPRESS;database=MySuongService;uid=sa;pwd=admin"/>
    <!--
    <add name="VbnShopCakeConnectString" connectionString="server=mysuong.com.vn;database=MySuongShop;uid=mysuongbakery;pwd=efL30f?7"/>
    <add name="VbnServicesConnectString" connectionString="server=mysuong.com.vn;database=MySuongService;uid=mysuongbakery;pwd=efL30f?7"/>
    -->
    <!--<add name="VbnShopCakeConnectString" connectionString="" />-->
  </connectionStrings>
  <system.web>
    <authentication mode="Forms">
      <!--timeout=30 (3 mins)-->
      <!--timeout=1200 (2 hours)-->
      <forms name=".ASPNET" timeout="1200"/>
      <!--<forms name=".ASPNET" loginUrl="~/dangnhap.aspx" timeout="1200" protection="All" domain="vbn.vn"/>-->
    </authentication>
    <authorization>
      <!--<deny users="?"/>
      <allow users="*"/>-->
    </authorization>
    <httpRuntime useFullyQualifiedRedirectUrl="true" executionTimeout="4000" maxRequestLength="130000" requestLengthDiskThreshold="38192"/>
    <globalization fileEncoding="UTF-8" requestEncoding="UTF-8" responseEncoding="UTF-8" culture="vi-VN" uiCulture="vi-VN"/>
    <customErrors mode="Off"/>
    <anonymousIdentification enabled="true"/>
    <roleManager enabled="true" defaultProvider="VBNServicesRoleProvider">
      <providers>
        <add connectionStringName="VbnServicesConnectString" applicationName="VBN" name="VBNServicesRoleProvider" type="System.Web.Security.SqlRoleProvider"/>
      </providers>
    </roleManager>
    <profile defaultProvider="VBNProfileProvider">
      <providers>
        <add name="VBNProfileProvider" connectionStringName="VbnServicesConnectString" applicationName="VBN" type="System.Web.Profile.SqlProfileProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </providers>
      <properties>
        <add name="FullName" type="String"/>
        <add name="Gender" type="String"/>
        <add name="BirthDate" type="DateTime"/>
        <add name="Occupation" type="String"/>
        <add name="Website" type="String"/>
        <!--Nhận Newsletter-->
        <group name="Forum">
          <add name="Posts" type="Int32"/>
          <add name="AvatarUrl" type="String"/>
          <add name="Signature" type="String"/>
        </group>
        <group name="Address">
          <add name="Street" type="String"/>
          <add name="PostalCode" type="String"/>
          <add name="City" type="String"/>
          <add name="State" type="String"/>
          <add name="Country" type="String"/>
        </group>
        <group name="Contacts">
          <add name="Phone" type="String"/>
          <add name="Fax" type="String"/>
        </group>
        <group name="Preferences">
          <add name="Theme" type="String" allowAnonymous="true"/>
          <add name="Culture" type="String" defaultValue="vi-VN"/>
        </group>
      </properties>
    </profile>
    <!-- Membership Provider for SqlServer -->
    <membership defaultProvider="VBNServicesMembershipProvider" userIsOnlineTimeWindow="15">
      <providers>
        <add name="VBNServicesMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="VbnServicesConnectString" applicationName="VBN" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Hashed" minRequiredNonalphanumericCharacters="0" minRequiredPasswordLength="3"/>
      </providers>
    </membership>
    <!--<sessionState mode="InProc" cookieless="AutoDetect" timeout="20" sessionIDManagerType="BotDetect.Web.CustomSessionIdManager, BotDetect"/>-->
    <pages enableSessionState="true" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add assembly="BotDetect" namespace="BotDetect.Web.UI" tagPrefix="BotDetect"/>
      </controls>
    </pages>
    <httpHandlers>
      <add verb="GET" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha"/>
      <add verb="GET" path="BotDetectCaptcha.ashx" type="BotDetect.Web.CaptchaHandler, BotDetect"/>
      <add verb="GET" path="ImageHandler.ashx" type="Library.Tools.ImageHandler"/>
    </httpHandlers>
    <httpModules>
      <add type="System.Web.SessionState.SessionStateModule" name="Session"/>
      <add type="Intelligencia.UrlRewriter.RewriterHttpModule, Intelligencia.UrlRewriter" name="UrlRewriter"/>
    </httpModules>
    <compilation targetFramework="4.0"/>
  </system.web>
  <rewriter>
    <register logger="Intelligencia.UrlRewriter.Logging.DebugLogger, Intelligencia.UrlRewriter"/>
    <rewrite url="^(/.+(\.gif|\.png|\.jpg|\.jpeg|\.bmp)$)$" to="$1" processing="stop"/>
    <rewrite url="^(/.+(\.gif|\.png|\.jpg|\.jpeg|\.bmp))\?([^\/]+)" to="~/ImageHandler.ashx?f=$1&amp;$3" processing="stop"/>
    <rewrite url="^~/vbn.html" to="~/Default.aspx" processing="stop"/>
    <rewrite url="^~/gioi-thieu.html" to="~/Contact.aspx" processing="stop"/>
    <rewrite url="^~/lien-he.html" to="~/Modules/FeedBack/FeedBack.aspx" processing="stop"/>
    <rewrite url="^~/lien-he-thanh-cong.html" to="~/Modules/FeedBack/FeedBackComplete.aspx" processing="stop"/>
    <rewrite url="^~/dang-ky/dang-ky-ban-hang.html" to="~/Modules/Registers/ProductRegister.aspx" processing="stop"/>
    <rewrite url="^~/dang-ky/dang-ky-nha-cung-cap.html" to="~/Modules/Registers/SupplierRegister.aspx" processing="stop"/>
    <rewrite url="^~/cam-on/dang-ky-ban-hang-thanh-cong.html" to="~/Modules/Registers/ThankProductRegister.aspx" processing="stop"/>
    <rewrite url="^~/cam-on/dang-ky-nha-cung-cap-thanh-cong.html" to="~/Modules/Registers/ThankSupplierRegister.aspx" processing="stop"/>
    <rewrite url="^~/danh-muc/([^\/]+)/([^\/]+).html" to="~/Modules/Products/ProductList.aspx?catId=$1&amp;textId=$2" processing="stop"/>
    <rewrite url="^~/danh-muc/([^\/]+)/([^\/]+)/trang-([^\/]+).html" to="~/Modules/Products/ProductList.aspx?catId=$1&amp;textId=$2&amp;page=$3" processing="stop"/>
    <rewrite url="^~/san-pham.html" to="~/Modules/Products/Products.aspx" processing="stop"/>
    <rewrite url="^~/san-pham/gio-hang.html" to="~/Modules/Products/Carts.aspx" processing="stop"/>
    <rewrite url="^~/san-pham/mua-hang/([^\/]+)/([^\/]+)/([^\/]+)/([^\/]+).html" to="~/Modules/Products/ProductDetail.aspx?catId=$1&amp;IntId=$2&amp;catTextId=$3&amp;textId=$4" processing="stop"/>
    <rewrite url="^~/san-pham/tim-kiem-nhanh/([^\/]+).html" to="~/Modules/Products/QuickSearch.aspx?ProductName=$1" processing="stop"/>
    <rewrite url="^~/san-pham/tim-kiem-nhanh/([^\/]+)/trang-([^\/]+).html" to="~/Modules/Products/QuickSearch.aspx?ProuductName=$1&amp;page=$2" processing="stop"/>
    <rewrite url="^~/san-pham/tim-kiem/([^\/]+)/([^\/]+).html" to="~/Modules/Products/Search.aspx?ProductName=$1&amp;Price=$2" processing="stop"/>
    <rewrite url="^~/san-pham/tim-kiem/([^\/]+)/([^\/]+)/trang-([^\/]+).html" to="~/Modules/Products/Search.aspx?ProductName=$1&amp;Price=$2&amp;page=$3" processing="stop"/>
    <rewrite url="^~/videos.html" to="~/Modules/Videos/Default2.aspx" processing="stop"/>
    <rewrite url="^~/videos/([^\/]+)/([^\/]+)/([^\/]+).html" to="~/Modules/Videos/Default2.aspx?CatTextId=$1&amp;IntId=$2&amp;textId=$3" processing="stop"/>
    <rewrite url="^~/videos/([^\/]+).html" to="~/Modules/Videos/Default2.aspx?CatTextId=$1" processing="stop"/>
    <rewrite url="^~/tin-tuc.html" to="~/Modules/News/Default.aspx" processing="stop"/>
    <rewrite url="^~/tin-tuc/trang-([\d]+).html" to="~/Modules/News/Default.aspx?page=$1" processing="stop"/>
    <rewrite url="^~/tin-tuc/([^\/]+).html" to="~/Modules/News/News.aspx?textId=$1" processing="stop"/>
    <rewrite url="^~/tai-lieu.html" to="~/Modules/Document/ListDocument.aspx" processing="stop"/>
    <rewrite url="^~/tai-lieu/Huong-dan/([^\/]+).html" to="~/Modules/Document/DownLoadGuide.aspx?flag=$1" processing="stop"/>
    <rewrite url="^~/tai-lieu/([^\/]+)/([^\/]+).html" to="~/Modules/Document/ListDocumentByGroup.aspx?id=$1&amp;name=$2" processing="stop"/>
    <rewrite url="^~/tai-lieu/Tat-ca-tai-lieu/([^\/]+)/([^\/]+).html" to="~/Modules/Document/ListAllDocument.aspx?id=$1" processing="stop"/>
    <rewrite url="^~/tai-lieu/Lich-su-nap-diem.html" to="~/Modules/Document/MarkAddHistory.aspx" processing="stop"/>
    <rewrite url="^~/tai-lieu/Tat-ca-tai-lieu.html" to="~/Modules/Document/ListAllDocument.aspx" processing="stop"/>
    <rewrite url="^~/tai-lieu/Lich-su-download-tai-lieu.html" to="~/Modules/Document/DownLoadHistory.aspx" processing="stop"/>
    <rewrite url="^~/tai-lieu/Chi-Tiet/([^\/]+)/([^\/]+).html" to="~/Modules/Document/DocumentDetail.aspx?id=$1" processing="stop"/>
    <rewrite url="^~/tai-lieu/nap-diem.html" to="~/Modules/Document/DownLoadGuide.aspx" processing="stop"/>
    <rewrite url="^~/tai-lieu/huong-dan-nap-diem.html" to="~/Modules/Document/PayDocGuide.aspx" processing="stop"/>
    <rewrite url="^~/Tai-lieu/download/([^\/]+).html" to="~/Modules/Document/Download.aspx?id=$1" processing="stop"/>
    <rewrite url="^~/huong-dan-thanh-toan/([^\/-]+)-([^\/]+).html" to="~/Payment/PayGuide.aspx?p=$1&amp;t=$2" processing="stop"/>
  </rewriter>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule"/>
      <remove name="Session"/>
      <add name="Session" type="System.Web.SessionState.SessionStateModule"/>
    </modules>
    <handlers>
      <remove name="BotDetectCaptchaHandler"/>
      <add name="BotDetectCaptchaHandler" preCondition="integratedMode" verb="GET" path="BotDetectCaptcha.ashx" type="BotDetect.Web.CaptchaHandler, BotDetect"/>
    </handlers>
    <staticContent>
      <mimeMap fileExtension=".axd" mimeType="image/gif"/>
    </staticContent>
  </system.webServer>
</configuration>