.nav.nav-stacked li
{
	border-bottom: 1px solid #dbdbdb;
}

.nav.nav-stacked li:first-child
{
	border-top: 1px solid #dbdbdb;
}

.table .columns
{
	white-space:nowrap;
	width:2%;
}

.error ul
{
	margin:0px;
	padding-left:15px;
}